{% extends 'story_5/base.html' %}
{% block body %}
<form class='container p-5' method='POST' action="{% url 'form' %}">
  {% csrf_token %}
  {% if success_notif %}
  <div class="alert alert-success" role="alert">
    {{ success_notif }}
  </div>
  {% elif error_notif %}
  <div class="alert alert-danger" role="alert">
    {{ error_notif }}
  </div>
  {% endif %}
  <h1 class="display-3">Tambah Mata Kuliah</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Nama Mata Kuliah</label>
    <input type="text" name='nama' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Matematika Dasar" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Nama Dosen Pengajar</label>
    <input type="text" name='dosen' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dr. Dosen" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Jumlah SKS</label>
    <input type="number" name='jumlah_sks' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="4" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Deskripsi</label>
    <textarea type="text" name='deskripsi' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Matematika dasar adalah..." required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Semester Tahun</label>
    <input type="text" name='semester_tahun' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="2020/2021" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ruang Kelas</label>
    <input type="text" name='ruang_kelas' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="2.202" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}