{% extends 'story_5/base.html' %}
{% block body %}
<div class="container detail-matkul p-5">
  <h1 class="display-4">{{ matkul.nama }}</h1>
  <div class="card mt-4">
    <div class="card-header d-flex flex-column flex-lg-row justify-content-around">
      <h6>Dosen: {{ matkul.dosen }}</h6>
      <h6>Ruang: {{ matkul.ruang_kelas }}</h6>
      <h6>Jumlah SKS: {{ matkul.jumlah_sks }}</h6>
      <h6>Semester: {{ matkul.semester_tahun }}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{ matkul.deskripsi }}</p>
    </div>
  </div>
</div>
{% endblock %}