{% extends 'story_5/base.html' %}
{% block body %}
<div class="container py-5">
  <h1 class="display-4">Daftar Mata Kuliah</h1>
  {% for matkul in daftar_matkul %}
    <div class="card my-3">
      <div class="card-header d-flex justify-content-between">
        <a href="{% url 'detail' matkul.pk %}"><h2 class='font-weight-normal'>{{ matkul.nama }}</h2></a>
        <a type="button" class="btn btn-danger py-1 px-2" href="{% url 'delete' matkul.pk %}">Hapus</a>
      </div>
      <div class="card-body">
        <p class="card-text">{{ matkul.deskripsi }}</p>
        <a href="{% url 'detail' matkul.pk %}" class="btn btn-primary">Lihat detail {{ matkul.nama }}</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}